
body{
    background-color:#f5f7fa;
}
.heading h1{
color:gray;
font-family: Poppins;
}
.heading h2{
    font-family: Poppins;
}
.heading{
    padding-top: 30px;
}
.section1 {
    display: flex;
    column-gap: 30px;
    padding-top: 25PX;

}
.section2 {
    display: flex;
    column-gap: 30px;
     padding-top: 30PX;
}
.section3 {
    display: flex;
    column-gap: 30px;
     padding-top: 30PX;
}
.section4 {
    display: flex;
    column-gap: 30px;
     padding-top: 30PX;
}
.section5 {
    width: 65%;
    padding-top: 40PX;
}
.section5 .btn{
    padding: 10px;
}
input{
background-color:#e7eef5;
width:300px;
height: 50px;
}

